/* Custom properties and values */

:root {
  --c-blue-800: hsl(234, 29%, 20%);
  --c-blue-700: hsl(235, 18%, 26%);
  --c-grey: hsl(0, 0%,58%);
  --c-white: hsl(0, 0%, 100%);
  --c-red: hsl(4, 100%, 67%);
  --fw-regular: 400;
  --fw-bold: 700; 
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-blue-800);
}

/* Content styles */

.img-container img {
  width: 100%;
  display: block;
}
.content-inner {
  padding: 2rem 1.5rem;
}

.content-inner h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.content-inner > p {
  margin-bottom: 2rem;
}

/* List items */

.list-container {
  margin-bottom: 2rem;
}

.list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.list-item > p {
  margin-left: 1rem;
}

/* Form */

.form-label {
  display: flex;
  justify-content: space-between;
}

.form-label {
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
}

input,
button {
  display: block;
  width: 100%;
  padding: 1.25rem;
  border-radius: 10px;
  cursor: pointer;
}

input {
  font-size: inherit;
  border: 1px solid var(--c-grey);
  margin-bottom: 1.5rem;
}

input::placeholder {
  color: var(--c-grey);
}

input:focus {
  outline: 1px solid var(--c-blue-700);
}

.btn {
  background-color: var(--c-blue-800);
  color: var(--c-white);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  border: none;
}

.btn:hover {
  background:linear-gradient(to right, hsl(347, 100%, 67%),hsl(13, 100%, 62%));
}

/* Form error states */

#validation-error {
  color: var(--c-red);
  display: none;
}

.container {
  display: none;
}

/* Success Message */

#success-msg {
  display: block;
}

.success-msg-outer {
  height: 100vh;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1.5rem;
}

.success-msg-inner {
  margin-top: 8rem;
}

.success-msg-inner img {
  margin-bottom: 2rem;
}

.success-msg-inner h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.success-msg-inner span {
  font-weight: var(--fw-bold);
}

/* Media query > 480px */
@media (min-width: 30rem) {
  body {
    background-color: var(--c-blue-700);
    /* padding: 2rem 1rem; */
  }

  .container {
  background-color: var(--c-white);
  border-radius: 40px;
  overflow: clip;
  }

  .content-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Success Message */

  .success-msg-outer {
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8rem;
  padding: 1.5rem;
}

.success-msg-inner img {
  margin-bottom: 2rem;
}

.success-msg-inner h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
}

/* Media query > 768px */
@media (min-width: 48rem) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
  }

  picture {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1.5rem 1.5rem 1.5rem 0;
  }
}

/* Media query > 992px */ 
@media (min-width: 62rem) {


  .content-inner {
    max-width: 90%;
    padding: 4rem 2rem 4rem 4rem;
  }

  .content-inner h1 {
    font-size: 3.5rem;
  }

  .list-container {
    margin-bottom: 1rem;
  }
}

