/* Custom properties and values */
:root {
  --c-blue-800: hsl(234, 29%, 20%);
  --c-blue-700: hsl(235, 18%, 26%);
  --c-grey: hsl(0, 0%,58%);
  --c-white: hsl(0, 0%, 100%);
  --c-red: hsl(4, 100%, 67%);
  --fw-regular: 400;
  --fw-bold: 700; 
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-blue-800);
}

/* Content styles */
.img-container img {
  width: 100%;
  display: block;
}
.content-inner {
  padding: 2rem 1.5rem;
}

.content-inner h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.content-inner > p {
  margin-bottom: 2rem;
}

/* List items */
.list-container {
  margin-bottom: 2rem;
}

.list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.list-item > p {
  margin-left: 1rem;
}

/* Form */
.form-label {
  display: flex;
  justify-content: space-between;
}

.form-label {
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
}

#validation-error {
  color: var(--c-red);
  display: none;
}

input,
button {
  display: block;
  width: 100%;
  padding: 1.25rem;
  border-radius: 10px;
}

input {
  font-size: inherit;
  border: 1px solid var(--c-grey);
  margin-bottom: 1.5rem;
}

input::placeholder {
  color: var(--c-grey);
}

input:focus {
  outline: 1px solid var(--c-blue-700);
}

.btn {
  background-color: var(--c-blue-800);
  color: var(--c-white);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  border: none;
}

.btn:hover {
  background:linear-gradient(to right, hsl(347, 100%, 67%),hsl(13, 100%, 62%));
}

/* Media query > 375px */
@media (min-width: 23.5rem) {
  body {
    background-color: var(--c-blue-700);
    /* padding: 1rem; */
  }

  /* Container */
  .container {
  background-color: var(--c-white);
  border-radius: 30px;
}
}

/* Media query > 768px */
@media (min-width: 48rem) {

}


/* Success Message */
#success-msg {
  display: none;
}